.landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    height:400px;
    width: 500px;
    margin-top: 60px;

}

.button{
    border:none;
    background-color: white;
    color: #2e699b;
}

.landing-page_input{

    width: 300px;
    height: 40px;
    border: 2px solid;
    border-radius: 100px;
    border-color: #2e699b;
}