.message-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: auto;
    overflow-y:scroll

}


@media  (max-width: 600px ) {
    .message-list {
        width: 100%;
        margin-left: 100px;
    }
  }